<div class="posts show">
	<div class="post-item">
		<div class="show-contents">
			<div><%= @post.user_id %></div>
			<div><img src="<%= "/post_imgs/#{@post.img_name}" %>"></div>
			<div><%= @post.content %></div>
		</div>
		<div class="show-btns">
			<%= link_to("編集", "/posts/#{@post.id}/edit") %>
			<%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
		</div>
	</div>
</div>

