<!DOCTYPE html>
<html>
    <head>
		<title>GardenHelp</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>



    <body>
		<header>
			<div class="header-left"><%= link_to("garden help","/") %></div>
			<div class="header-right">
				<ul>
					<li><%= link_to("garden helpとは","/about") %></li>
					<li><%= link_to("投稿一覧","/posts/index") %></li>
					<li><%= link_to("新規投稿","/posts/new") %></li>
				</ul>
			</div>
		</header>
		<% if flash[:notice] %>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<% end %>
		<div class="mains">
			<%= yield %>
		</div>
		<footer>
				<ul>
					<li><%= link_to("リリース情報","/releases/index") %></li>
				</ul>
			</div>
		</footer>

    </body>
</html>
